@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.temprature a {
  text-decoration: none;
  color: #d5d8dc;
}

.temprature .unit {
  font-family: "Righteous", cursive;
  font-size: 20px;
}
